
body {
  background-color: rgba(53, 13, 53, 0.269)
}

.header-navbar {
  border: 5px solid black;
  text-align: center;
  color: white;
  background-color: rgba(36, 32, 32, 0.967);
}

.forecast-panel {
  border: 5px solid black;
  width: 100rem;
  height: 50rem;
  background-color: grey;
  margin: 3rem auto;
}