
body {
  background-color: rgba(53, 13, 53, 0.269)
}

.header-navbar {
  border: 5px solid black;
  text-align: center;
  color: white;
  background-color: rgba(36, 32, 32, 0.967);
}

.forecast-panel {
  border: 5px solid black;
  width: 100rem;
  height: 50rem;
  background-color: grey;
  margin: 3rem auto;
}

.weather-panels {
  margin: 4rem  auto;
  align-content: center;
  /* border: 5px solid red; */
  width: 99rem;
  display: grid;
  justify-content: center;
  grid-template-columns: 15% 15% 15% 15% 15%;
  grid-column-gap: 3rem;
}

.day-panel {
  border: 1px solid black;
  height: 40rem;
  background-color: whitesmoke;
  box-shadow: 1rem 1rem 1rem black; 
}

.search-input {
  margin-left: 40rem;
  margin-top: 5rem;
  margin-right: 1rem;
  width: 20rem;
  font-size: 24px;
  height: 3rem;
  border: 3px solid black;
}

.search-btn {
  height: 3rem;
  width: 10rem;
  font-size: 24px;
  border-radius: 10px 10px 10px 10px;
  border: 2px solid black;
  background-color: lightgray;
}