
body {
  background-color: rgba(53, 13, 53, 0.269)
}

.header-navbar {
  border: 5px solid black;
  text-align: center;
  color: white;
  background-color: rgba(36, 32, 32, 0.967);
}

.forecast-panel {
  border: 5px solid black;
  width: 100rem;
  height: 50rem;
  background-color: grey;
  margin: 3rem auto;
}

.weather-panels {
  margin: 4rem  auto;
  align-content: center;
  /* border: 5px solid red; */
  width: 99rem;
  display: grid;
  justify-content: center;
  grid-template-columns: 15% 15% 15% 15% 15%;
  grid-column-gap: 3rem;
}

.day-panel {
  border: 1px solid black;
  height: 40rem;
  background-color: whitesmoke;
  box-shadow: 7px 3px black; 
}